body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
  }
  .mt{
      margin-top: 30px;
  } 
  .navbar.navbar-default{
    /* background-color: #4E8FCC !important; */
    background-color: #fff !important;
    border-color: transparent;
  }
  .navbar-default .navbar-nav>.active>a{
    color: #00395d;
    background: transparent;
  }
  .navbar-default .navbar-nav>.active>a:hover {
      color: #00395d;
      background: transparent;
  }
  .dropdown-menu > li.kopie > a {
      padding-left:5px;
  }
   
  .dropdown-submenu {
      position:relative;
  }
  .dropdown-submenu>.dropdown-menu {
     top:0;left:100%;
     margin-top:-6px;margin-left:-1px;
     -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
   }
  /*  
  .dropdown-submenu > a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;  
    height: 0;     
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
  }
   */
  .dropdown-submenu:hover>a:after {
      border-left-color:#555;
   }
  
  .dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
    text-decoration: none;
  }  
  /* .ReactTable {
    border-top: 1px solid #c3c3c3 !important;
    border-right: 1px solid #c3c3c3 !important;
    border-bottom: 1px solid #c3c3c3 !important;
  }
  .ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
    background-color: #eaeaea !important;
    border-top: 1px solid #c3c3c3 !important;
    border-right: 1px solid #c3c3c3 !important;
    border-bottom: 1px solid #c3c3c3 !important;
  } */
  .draggable-header {
    color:#0066b2;
  }
  .navbar-nav {    
    padding-top: 18px;
    padding-bottom: 10px;  
  }
  #scroll-dialog-title > h6 {
    color: #00395d !important;
    font-family: sans-serif !important;
    font-size: 18px;
  }
  #scroll-dialog-title > button {
    font-family: sans-serif !important;
  }
  .scrollbodyStyle {
    border: 1px solid #0074a6;
  }
  .scrollbodyStyle tbody tr:nth-of-type(2n+1) {
    background-color: #f6f7f7 !important;
  }
  .scrollbodyStyle tbody tr:nth-of-type(2n) {
    background-color: #fff !important;
  }
  .scrollbodyStyle tbody tr td {    
    font-family: sans-serif !important;
    font-size:14px !important;
    text-transform: capitalize !important;
    padding: 9px !important;
  }
  .scrollbodyStyle tbody tr td:first-child {
    color: #0074a6;
  }
  /* .ReactTable.-striped .rt-tr.-odd {
    background-color: #f7f8f9 !important;
  } */
  @media (max-width: 767px) {
  
    .navbar-nav  {
       display: inline;
    }
    .navbar-default .navbar-brand {
      display: inline;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a {
      color: red;
      background-color: #ccc;
      border-radius: 4px;
      margin-top: 2px;   
    }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
       color: #333;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
       background-color: #ccc;
     }
  
     .navbar-nav .open .dropdown-menu {
       border-bottom: 1px solid white; 
       border-radius: 0;
     }
    .dropdown-menu {
        padding-left: 10px;
    }
    .dropdown-menu .dropdown-menu {
        padding-left: 20px;
     }
     .dropdown-menu .dropdown-menu .dropdown-menu {
        padding-left: 30px;
     }
     li.dropdown.open {
      border: 0px solid red;
     }
  
  }
  .colmodal .modal-dialog{
    float:right;
    width: 15%;
  } 
  .layer-modal .modal-dialog{
    width:70%;
  }
  .colmodal .modal-dialog ul li{
    list-style-type: none;
  }
  @media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
      display: block;
    }
    #navbar {
      text-align: center;
    }
  }  
  .ReactTable .rt-thead.-header{
    background: #eaeaea !important;
      color: #0066b2 !important;
  }
  .rt-th{
    border:1px solid #ccc;
    font-weight: bold;
  }
  .rt-tr.-even{
   background-color: #f7f8f9 !important;
  }
  .panel-heading{
    background-color: #4E8FCC !important
  }
  .react-tabs__tab{
    font-size: 14px !important;
  }
  .react-tabs__tab--selected{
    font-weight: bold;
    background-color: #4E8FCC !important;
    color:#fff !important;
  }
  .divborder{
    border:1px solid #ccc;
    height: 200px;
  }
  .paddAll{
    padding: 5px !important;
    border-right: 1px solid #ccc !important;
  }
  .btn-primary{
    margin:2px;
  }
  
  .radio-inline input[type=radio], .checkbox-inline input[type=checkbox] {
    margin-top:2px !important;
  }
  .footer {
    min-height: 50px;
    clear: both;
    /* position: absolute; */
    bottom: 0;
    background: #efefef;
    width: 100%;
    padding: 18px;
  }
  .footer a {
    font-size: 14px;
    padding: 0 10px;
  }
  .footer a:first-child {
    padding-left:0px;
  }
  .panel-heading{
    background-color: #00395C  !important;
  }
  table tbody tr td a:link {
    color: #0074A6 !important;
    text-decoration: underline;
  }
  table tbody tr td a:hover {
    color: #00395D !important;
    text-decoration: underline;
  }
  table tbody tr td a:active {
    color: #884488 !important;
    text-decoration: underline;
  }
  .displayTxt {
    color: red;
  }